/********GENERAL*********/
#contenedor-preguntas-iframe{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
#contenedor-preguntas-1,
#contenedor-preguntas-2,
#contenedor-preguntas-3,
#contenedor-preguntas-4,
#contenedor-preguntas-5,
#contenedor-preguntas-6{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.contenedor-preguntas-hidden{
    display: none;
}
.contenedor-preguntas-visible{
    display: block;
}
.contenedor-preguntas-fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#contenedor-preguntas-1 .contenedor-preguntas-fondo{
    background-image: url(../images/pregunta1/fondo.jpg);
}
#contenedor-preguntas-2 .contenedor-preguntas-fondo{
    background-image: url(../images/pregunta2/fondo.jpg);
}
#contenedor-preguntas-3 .contenedor-preguntas-fondo{
    background-image: url(../images/pregunta3/fondo.jpg);
}
#contenedor-preguntas-4 .contenedor-preguntas-fondo{
    background-image: url(../images/pregunta4/fondo.jpg);
}
#contenedor-preguntas-5 .contenedor-preguntas-fondo{
    background-image: url(../images/pregunta5/fondo.png);
}
#contenedor-preguntas-6 .contenedor-preguntas-fondo{
    background-image: url(../images/pregunta6/fondo.png);
}

.burbuja-texto{
    position: absolute;
    width: 350px;
    height: auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 8px 3px rgba(0,0,0,0.3);
    margin: 0px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;

    transition: transform 0.5s linear, -webkit-transform 0.5s linear, -o-transform 0.5s linear, opacity 0.5s linear;
    -webkit-transition: transform 0.5s linear, -webkit-transform 0.5s linear, -o-transform 0.5s linear, opacity 0.5s linear;
}
.burbuja-texto-big{
    position: absolute;
    width: 70%;
    left: 15%;
    height: auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 8px 3px rgba(0,0,0,0.3);
    margin: 0px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
}

.burbuja-texto::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 100%;
    left: 50%;
    left: calc(50% - 10px);
    left: -moz-calc(50% - 10px);
    border-right: 10px solid rgba(0,0,0,0);
    border-left: 10px solid rgba(0,0,0,0);
    border-top: 10px solid #FFFFFF;
}

.burbuja-texto-off{
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -o-transform: scale(0.2);
    opacity: 0;
}
.burbuja-texto-on{
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
}
.burbuja-texto-big-off{
    opacity: 0;
}
.burbuja-texto-big-on{
    opacity: 1;
}

.burbuja-texto p,
.burbuja-texto-big p{
    display: block;
    width: 100%;
    font-family: 'Barlow-Medium';
    font-size: 15px;
    color: #000000;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin: 0px;
    padding: 0px;
}
.burbuja-texto p span,
.burbuja-texto-big p span{
    font-family: 'Barlow-Bold';
}

#burbuja-texto-pregunta1{
    top: 50px;
    left: 50%;
    left: calc(50% - (350px / 2));
    left: -moz-calc(50% - (350px / 2));
}
#burbuja-texto-pregunta2{
    top: 20px;
}
#burbuja-texto-pregunta3{
    top: 20px;
}
#burbuja-texto-pregunta4{
    bottom: 15px;
    width: 65%;
    left: 15px;
}
#burbuja-texto-pregunta5{
    top: 20px;
    left: 3%;
}
#burbuja-texto-pregunta6{
    top: 20px;
}

/********ESCENARIO 3**********/
#opcion-a{
    position: absolute;
    width: 188px;
    height: 255px;
    box-sizing: border-box;
    top: 33.4%;
    left: 4.3%;
}
#opcion-b{
    position: absolute;
    width: 290px;
    height: 260px;
    box-sizing: border-box;
    top: 34.6%;
    left: 53%;
}
#opcion_a_btn,#opcion_b_btn{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: none;
    display: block;
}

/*********ESCENARIO 4**********/
#personaje{
    position: absolute;
    display: block;
    width: 132px;
    height: 370px;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 13%;
    left: 74%;
}

#personaje-main{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#personaje_areas,#personaje_ropas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.area-epp{
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translateX(-15px) translateY(-15px);
    -webkit-transform: translateX(-15px) translateY(-15px);
    -o-transform: translateX(-15px) translateY(-15px);
}
.area-epp-off{
    display: none;
}
.area-epp-on{
    display: block;
}
.area-epp::after,
.area-epp::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    top: 0px;
    left: 0px;

    animation-name: animacion-area;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: animacion-area;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.area-epp::before{
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
@keyframes animacion-area {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        opacity: 0;
        border: #FFFFFF solid 2px;
    }
    50%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
        border: #FFFFFF solid 5px;
    }
    100%{
        transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        opacity: 0;
        border: #FFFFFF solid 1px;
    }
}
#area-epp-1{top: 4%;left: 46%;}
#area-epp-2{top: 12%;left: 47%;}
#area-epp-3{top: 17%;left: 47%;}
#area-epp-4{top: 56%;left: 82%;}
#area-epp-5{top: 56%;left: 13%;}
#area-epp-6{top: 92%;left: 50%;}

#elementos-epp{
    position: absolute;
    width: 205px;
    height: 205px;
    box-sizing: border-box;
    top: 41px;
    left: 287px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
.elemento-epp{
    position: relative;
    width: 65px;
    height: 65px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.elemento-epp > div{
    position: relative;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: grab;
}
.elemento-epp-hide{
    visibility: hidden;
}
.elemento-epp-show{
    visibility: visible;
}

#elemento-epp-move{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: grabbing;
}
.elemento-epp-move-on{
    display: block;
}
.elemento-epp-move-off{
    display: none;
}
.ropa-epp{
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2s;
    -webkit-transition: transform 0.2s, -webkit-transform 0.2s, -o-transform 0.2s, opacity 0.2s;
}

.ropa-epp-off{
    display: none;
}
.ropa-epp-on{
    display: block;
}

#contenedor-mensaje-alerta{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-mensaje-alerta-on{
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.5s;    
    -webkit-transition: visibility 0s, opacity 0.5s;
}
.contenedor-mensaje-alerta-off{
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s;    
    -webkit-transition: visibility 0.5s, opacity 0.5s;
}
#contenedor-mensaje-alerta-box{
    position: relative;
    width: 350px;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: #D9DF59;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.2);
    display: flex;
    margin: 0px;
    transition: margin-top 0.5s;
    -webkit-transition: margin-top 0.5s;
}
.contenedor-mensaje-alerta-on{
    margin-top: 0px;
}
.contenedor-mensaje-alerta-off{
    margin-top: -20px;
}

#ver-pregunta-btn{
    position: absolute;
    display: block;
    width: 130px;
    height: 35px;
    border-radius: 4px;
    background: #E3E829;
    background: linear-gradient(to bottom, #E3E829, #C6C62A);
    background: -webkit-linear-gradient(to bottom, #E3E829, #C6C62A);
    background: -o-linear-gradient(to bottom, #E3E829, #C6C62A);
    cursor: pointer;

    margin: 0px;
    padding: 0px;
    border: none;
    bottom: 15px;
    right: 15px;

    font-family: 'Barlow-Bold';
    font-size: 16px;
    color: #0033A0;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;

    transition: box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
    -webkit-transition: box-shadow 0.3s, transform 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
}
#ver-pregunta-btn:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.3);
}

/***********ESCENARIO 5***********/
.personajes-corriendo-patio{
    position: absolute;
    width: 590px;
    height: 287px;
    top: 161px;
    left: 186px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#personaje-corriendo-1{
    top: 50px;
    left: -88px;
}
#personaje-corriendo-2{
    top: 0px;
    left: -105px;
}
#personaje-corriendo-3{
    top: 0px;
    left: -114px;
}
#personaje-corriendo-4{
    top: 50px;
    left: -147px;
}
.personaje-corriendo-left-1{
    left: 100% !important;
    top: 50px !important;
    transition: left 4s linear, top 4s linear;
    -webkit-transition: left 4s linear, top 4s linear;
}
.personaje-corriendo-left-2{
    left: 100% !important;
    top: 0px !important;
    transition: left 3.5s linear, top 3.5s linear;
    -webkit-transition: left 3.5s linear, top 3.5s linear;
}
.personaje-corriendo-left-3{
    left: 100% !important;
    top: 0px !important;
    transition: left 3s linear, top 3s linear;
    -webkit-transition: left 3s linear, top 3s linear;
}
.personaje-corriendo-left-4{
    left: 100% !important;
    top: 50px !important;
    transition: left 2.5s linear, top 2.5s linear;
    -webkit-transition: left 2.5s linear, top 2.5s linear;
}
#alarma-pregunta-5{
    position: absolute;
    width: 130px;
    height: 90px;
    box-sizing: border-box;
    top: 0%;
    right: 20px;
}
#alarma_btn{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #FFFF00;
    opacity: 0;
    cursor: pointer;
}            

/************RULETA************/
#ruleta{
    position: absolute;
    width: 220px;
    height: 220px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    left: 50%;
    left: calc(50% - 110px);
    left: -moz-calc(50% - 110px);

    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}
#ruleta-img{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.ruleta-split-2{background-image: url(../images/ruleta-split-2.png);}
.ruleta-split-3{background-image: url(../images/ruleta-split-3.png);}
.ruleta-split-4{background-image: url(../images/ruleta-split-4.png);}

#ruleta-pointer{
    position: absolute;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/ruleta-pointer.png);
    top: 0px;
    left: 50%;
    left: calc(50% - 20px);
    left: -moz-calc(50% - 20px);
}
.ruleta-on{
    animation-name: animacion-ruleta;
    animation-duration: 1.5s;
    -webkit-animation-name: animacion-ruleta;
    -webkit-animation-duration: 1.5s;
}
@keyframes animacion-ruleta{
    0% {
        top:-220px;
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
    }
    60% {
        top: 50%;
        top: calc(50% - 110px);
        top: -moz-calc(50% - 110px);
        animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
    }
    85% {
        top: 50%;
        top: calc(50% - 150px);
        top: -moz-calc(50% - 150px);
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
    }
    100% {
        top: 50%;
        top: calc(50% - 110px);
        top: -moz-calc(50% - 110px);
    }
}

.ruleta-off{
    top: -230px;
    animation-name: animacion-ruleta-off;
    animation-duration: 0.5s;
    -webkit-animation-name: animacion-ruleta-off;
    -webkit-animation-duration: 0.5s;
}
@keyframes animacion-ruleta-off{
    0% {
        top: 50%;
        top: calc(50% - 110px);
        top: -moz-calc(50% - 110px);
    }
    100% {
        top: -230px;
        animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
    }
}

#contenedor-carta{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}
.contenedor-carta-off{
    visibility: hidden;
}
.contenedor-carta-on{
    visibility: visible;
}
#carta-wrap{
    position: absolute;
    width: 275px;
    height: 402px;
    box-sizing: border-box;
    perspective: 1000px;
    -webkit-perspective: 1000px;

    transition: left 0.5s, top 0.5s, transform 0.5s, -webkit-transform 0.5s, -o-transform 0.5s;
    -webkit-transition: left 0.5s, top 0.5s, transform 0.5s, -webkit-transform 0.5s, -o-transform 0.5s;
}
#carta{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;

    transition: transform 0.25s, -webkit-transform 0.25s, -o-transform 0.25s;
    -webkit-transition: transform 0.25s, -webkit-transform 0.25s, -o-transform 0.25s;
}
.carta-back{
    background-image: url(../images/carta-2.png);
}
.carta-front{
    background-image: url(../images/carta-1.png);
}
.carta-back #carta-content{
    visibility: hidden;
}
.carta-front #carta-content{
    visibility: inherit;
}

.carta-on{
    left: 50%;
    left: calc(50% - (275px / 2));
    left: -moz-calc(50% - (275px / 2));
    top: 50%;
    top: calc(50% - (402px / 2));
    top: -moz-calc(50% - (402px / 2));
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
}
.carta-off{
    left: 100%;
    top: 100%;
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -o-transform: scale(0.4);
}

#carta-content{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 25px 27px 25px 25px;
}
.carta-enunciado{
	position: relative;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.carta-enunciado p{
    margin: 0px;
    font-family: 'Barlow-Semibold';
    font-size: 14px;
    color: #000000;
    text-align: center;
    line-height: normal;
    font-weight: normal;
}

.carta-respuesta{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-left: 18px;
    position: relative;
    cursor: pointer;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}
.carta-respuesta:hover{
	opacity: 0.7;
}
.carta-respuesta p{
    margin: 0px;
    font-family: 'Barlow-Regular';
    font-size: 14px;
    color: #000000;
    text-align: justify;
    line-height: normal;
    font-weight: normal;
    position: relative;
}

.carta-respuesta p span{
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    top: 2px;
    left: -18px;

    font-family: 'Barlow-Bold';
    font-size: 14px;
    color: #000000;
    font-weight: normal;
    line-height: normal;
    text-align: left;
}