@media (min-width: 768px){

}
@media (min-width: 560px) and (max-width: 767px){
	#container{
        width: 100%;
        height: 578px;
    }
    #game{
        height: 100%;
        height: calc(100% - 73px);
        height: -moz-calc(100% - 73px);
    }
    .logo-sura{
        margin-left: 10px;
    }
    .titulo{
        margin-right: 10px;
    }
    .logo-arl{
        margin-left: 10px;
    }
    #oficio-title{
        margin-right: 10px;
    }

    /************ESCENARIO***********/
    .burbuja-texto{
        width: 400px;
    }
    .burbuja-texto-big{
        width: 80%;
        left: 10%;
    }
    #opcion-a{
        top: 200px;
        left: 15px;
    }
    #opcion-b{
        top: 200px;
        left: initial;
        right: 20px;
    }
    
    /************MODAL**************/
    #modal-box{
        width: 350px;
        padding: 10px;
    }
    .modal-box-left{
        left: -16%;
    }
    #modal-title{
        font-size: 18px;
    }
    #modal-content > p,.modal-content-p{
        font-size: 13px;
    }

    
}